@import '../variables';

.button {
  max-width: 200px;
  width: 100%;
  background-color: $cornflower-blue;
  color: white;
  border: none;
  height: 40px;
  border-radius: 6px;
  transition: all 0.25s linear;
  font-size: 18px;

  &[disabled] {
    opacity: 0.6;
  }
  &:hover, &:active {
    &:not([disabled]) {
      background-color: $cornflower-blue-dark;
      cursor: pointer;
    }
  }

  &__arrow {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 4px;
    background-color: #fff;
  }

  &__arrow::after,
  &__arrow::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 4px;
    left: -4px;
    background-color: #fff;
  }

  &__arrow::after {
    top: 5px;
    transform: rotate(45deg);
  }

  &__arrow::before {
    top: -5px;
    transform: rotate(-45deg);
  }
}
