@import './src/scss/variables';

.game {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
  }

  &__button {
    max-width: 124px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 650px;
    width: 100%;
    margin: 20px auto;
  }

  &__won {
    z-index: 1;
    position: absolute;
    top: -8px;
    left: -8px;
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $concrete-blur;
    text-shadow: 0 0 12px $cornflower-blue;
    font-size: 30px;
    font-weight: 600;
  }
}
